<div id="playContainer">
  <h1>{{n}}-puzzle</h1>
  <div class="puzzle" style="margin-bottom: 15px;" [style.width]="n + 'em'" [style.height]="n + 'em'">
    <div
      *ngFor="let square of gameState.squares"
      class="square"
      [style.left]="square.c + 'em'"
      [style.top]="square.r + 'em'"
      [class.zero]="square.digit === 0"
    >
      <span>{{square.digit}}</span>
    </div>
  </div>
  <div class="icon-container"
    placement="right"
    ngbTooltip="tipContent"
    style="margin-bottom: 15px"
  >
    <fa-icon
      [icon]="faRedoAlt"
      (click)="restart()"
      class="fa-fw"
    ></fa-icon>
  </div>
  <div>
    <p [class.finished]="gameState.gameOver">{{gameState.timer | async | timer}}</p>
    <p [class.finished]="gameState.gameOver">Moves: {{gameState.numMoves}}</p>
    <p>shortestPath: {{shortestPath == -1 ? '....' : shortestPath}}</p>
  </div>

</div>
